{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "tailwindConfig": "./tailwind.config"
}
